@tailwind base;

@tailwind components;

@tailwind utilities;

.masonry {
  column-count: 2;
  column-gap: 1rem;
  break-inside: avoid-column;
}
@screen lg {
  .masonry {
    column-count: 3;
  }
}

.no-break {
  overflow: hidden; /* fix for Firefox */
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}
